<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TitleHere</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Style.css")
    <!--Scripts.Render("~/bundles/modernizr")-->
</head>
<body>

        <div id="sidebar">
            <ul>
                <li>@Html.ActionLink("Dashboard", "")</li>
                <li>@Html.ActionLink("Statistics", "")</li>
                <li>@Html.ActionLink("Books", "Index", "Books")</li>
                <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                <li>@Html.ActionLink("Loans", "Index", "Loans")</li>
                <li>@Html.ActionLink("Settings", "")</li>
            </ul>
        </div>
        <div id="content" class="body-content">
            @RenderBody()
        </div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
