@model LibraryManagementSystem.ViewModels.Loans.AddLoanViewModel

@{
    ViewBag.Title = "AddLoan";
}

<h2>AddLoan</h2>

@using (Html.BeginForm("AddLoan", "Loans", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal glyphicon-align-center">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Client Id")
            @Html.TextBoxFor(model => model.Loan.ClientId, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-success">Add</button>
        <br />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
