@model LibraryManagementSystem.ViewModels.Loans.LoansViewModel
@using System;

@{
    ViewBag.Title = "Index";
}

<h2>Loans</h2>


<table class="table">
    <tr>
        <th>Book ID</th>
        <th>Client ID</th>
        <th>Book Title</th>
        <th>Client First Name</th>
        <th>Client Last Name</th>
        <td>Start Date</td>
        <td>Give back Date</td>
        <td>Actions</td>
    </tr>

    @foreach (var loan in Model.Loans)
    {
        if (loan.EndDate != null)
        {
            @:<tr class="table-success">
        }
        else if (loan.StartDate.AddDays((double)loan.LoanDuration) < DateTime.Now){
            @:<tr class="table-danger">
        }
        else
        {
            @:<tr>
        }
            <td>@loan.BookId</td>
            <td>@loan.ClientId</td>
            <td>@Model.BookTitles[Model.Loans.IndexOf(loan)]</td>
            <td>@Model.ClientsFirstNames[Model.Loans.IndexOf(loan)]</td>
            <td>@Model.ClientsLastNames[Model.Loans.IndexOf(loan)]</td>
            <td>@loan.StartDate</td>
            <td>@loan.EndDate</td>
            <td>
                @Html.ActionLink("Edit", "EditLoan", new { clientId = loan.ClientId, bookId = loan.BookId}) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new {/* id = book.Id*/ }, new { onclick = "return confirm('Are you sure you want to delete?');" })
            </td>
        @:</tr>
    }

</table>

