@model LibraryManagementSystem.ViewModels.Books.BooksViewModel

@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>

<p>
    @Html.ActionLink("Create New", "CreateNew")
    @using (Html.BeginForm("Index", "Books", FormMethod.Get))
    {
    <p>
        @Html.TextBox("searchString", "Name/CIN")
        <input type="submit" value="search"/>
    </p>
    }
</p>

@using (Html.BeginForm())

<table class="table">
    <tr>
        <th>ID</th>
        <th>ISBN</th>
        <th>Title</th>
        <th>Quantity</th>
        <th>Archived</th>
        <th>Actions</th>
    </tr>

@foreach (var book in Model.BookList) {
    <tr>
        <td>@book.Id</td>
        <td>@book.ISBN</td>
        <td>@book.Title</td>
        <td>@book.TotalQuantity</td>
        <td>@book.Archived</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /*id = book.Id */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { id = book.Id }, new { onclick = "return confirm('Are you sure you want to delete?');" })
        </td>
    </tr>
}

</table>
