@model LibraryManagementSystem.ViewModels.Clients.ClientsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("CreateNewClient", "CreateNewClient")
    @using (Html.BeginForm("Index", "Clients", FormMethod.Get))
    {
     <p>
         @Html.TextBox("searchString", "Title/ISBN")
         <input type="submit" value="search"/>
     </p>
    }
</p>
<table class="table">
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>CIN</th>
        <th>Email</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>

@foreach (var client in Model.Clients) {
    <tr>
        <td>@client.Id</td>
        <td>@client.FirstName</td>
        <td>@client.LastName</td>
        <td>@client.CIN</td>
        <td>@client.Email</td>
        <td>@client.Category.ClientCategoryName</td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { /*id = client.Id*/ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { id = client.Id }, new { onclick = "return confirm('Are you sure you want to delete?');" }) |
            @Html.ActionLink("AddLoan", "AddLoan", new { id = client.Id})
        </td>
    </tr>
}

</table>
